h1 {
	font-size: 45px;
}

.opening-msg {
	font-size: 17px;
}

@media only screen and (min-width: 768px) {

.container {
	padding-right: 150px;
	padding-left: 150px;
}

h1 {
	font-size: 60px;
}

.opening-msg {
	font-size: 19px;
}

}